<!DOCTYPE html>
<html lang="{{ site.locale | default: "en" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  
  <!-- FAVICON -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
  
  <!-- Fonts -->
  {% for font_url in site.data.style.fonts_urls %}
    <link href="{{ font_url }}" rel="stylesheet">
  {% endfor %}
  
  <!-- CSS -->
  <link href="{{ site.baseurl }}/assets/css/agency.css" rel="stylesheet">
  
  {% seo %}
</head>

<body id="page-top">
  {{ content }}
  
  {% include footer.html %}
  
  <!-- Scripts -->
  <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/jquery.easing.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/agency.min.js"></script>
</body>
</html>
