<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  <!-- FAVICON - CUSTOM ADDITION -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png">
  
  <!-- Custom Fonts -->
  {% if site.data.style.fonts_urls %}
    {% for font_url in site.data.style.fonts_urls %}
      <link href="{{ font_url }}" rel="stylesheet" type="text/css">
    {% endfor %}
  {% endif %}

  <!-- Theme CSS -->
  <link href="{{ '/assets/css/agency.css' | relative_url }}" rel="stylesheet">

  <!-- SEO Tag -->
  {% seo %}
</head>

<body id="page-top">
  {{ content }}
  
  <!-- Footer -->
  {% include footer.html %}
  
</html>
